# --- Dependências principais do app ---
streamlit
streamlit-option-menu
pandas
matplotlib
seaborn
scikit-learn
scipy
dask
fastparquet
mcp>=1.8.0	

# --- LangChain e LLMs ---
pydantic
langchain
langchain-community
langchain-chroma
langchain-experimental
langchain-google-genai
langchain-groq
langchain-mcp-adapters==0.0.9
langchain-openai
langgraph
google-generativeai

# --- Outras libs úteis / suporte ---
appdirs==1.4.4
bokeh==3.8.0
brotli==1.1.0
cffi==2.0.0
cssselect2==0.8.0
defusedxml==0.7.1
distributed==2025.9.1
fastmcp
grandalf
grpcio-status==1.71.2
httptools==0.6.4
lz4==4.4.4
numexpr==2.13.1
patsy==1.0.1
pydot
pydyf==0.11.0
pyee==11.1.1
pyphen==0.17.2
tabulate
tinyhtml5==2.0.0
uvloop==0.21.0
watchfiles==1.1.0
zopfli==0.2.3.post1
